body {
    background-color: cadetblue;
    text-align: center;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10rem;
}

h1 {
    font-size: 3rem;
}

button {
    padding: 8px;
    font-size: 1.8rem;
    background-color: deeppink;
    border-radius: 8px;
    color: whitesmoke;
}

#answer {
    font-size: 2rem;
    background-color: bisque;
    padding: 5px;

body {
    background-color: cadetblue;
    text-align: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 3rem;
}

button {
    padding: 8px;
    font-size: 1.8rem;
    background-color: deeppink;
    border-radius: 8px;
    color: whitesmoke;
}

#answer {
    font-size: 2rem;
}
